input, textarea {
  @include border;
  @include inputPadding;
}

select {
  @include border;
  @include selectPadding;
}

select {
  outline: none;
}

#create {
  @include button;
}

//delivery
form {
  @include flex(column, flex-start, flex-start);
  @include plateShadow;


  label {
    margin: 10px 0 4px 0;
  }

  input[type=button] {
    @include button;
    margin-top: 20px;
  }
}
