#tasks {
  @include flex(row, center, center);
  width: 100%;
}

#newtask,
#edittask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  @include flex(row, center, flex-start);
  display: none;
  z-index: 2;
}

#newtaskform,
#edittaskform {
  @include flex(column, flex-start, flex-start);
  @include border;
  background-color: white;
}

#newtaskform label,
#edittaskform label {
  margin-left: 14px;
  margin-top: 14px;
}

#formtitle,
#editformtitle {
  @include flex(row, center, center);
  font-weight: bolder;
}

#cancel,
#save,
#editcancel,
#editsave {
  @include button;
}

#formbuttons,
#editformbuttons {
  margin-top: 48px;
}

.taskitem {
  border: 1px solid $borderColor;
  margin: 4px;
  padding: 8px 16px;
  border-radius: 8px;
  position: relative;
  min-width: 140px;
  max-width: 300px;

  & > div {
    margin: 10px 0;
  }

  &[status="done"] {
    background-color: lightgrey;
  }

  .absolute {
    position: absolute;
    top: -8px;
    right: -5px;
  }
}

.tasktitle {
  font-weight: bolder;
}

.priority,
.status {
  border: 1px dashed $borderColor;
  border-radius: 10px;
  padding: 4px 8px;
  width: fit-content;


  &:hover {
    .actionlist {
      display: flex;
    }
  }
}

.status {
  &:hover {
    cursor: pointer;
  }
}

.priority[priority="high"] {
  background-color: #ffebe8;
}

.priority[priority="normal"] {
  background-color: #e9ffe9;
}

.priority[priority="low"] {
  background-color: #e8fcff;
}

.taskfooter {
  @include flex(row, space-between, center);
  width: 100%;
  padding: 0;
  position: relative;
}

.actionlist {
  position: absolute;
  background-color: white;
  right: 0px;
  top: 30px;
  z-index: 1;
  display: none;

  ul {
    list-style: none;

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid $borderColor;
      left: 30px;

      top: -11px;
      transform: rotate(90deg);
    }

    li {
      border: 1px solid $borderColor;
      display: flex;
      padding: 2px 4px;

      &:hover {
        background-color: lightgrey;
        cursor: pointer;
      }

      &:first-child {
        border-bottom: none;
      }

      &:last-child {
        border-top: none;
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: unset;
}
